---
import { KeyRound } from "@lucide/astro";
---

<a
    class="relative w-full px-2 py-2 md:px-16 group flex items-center border-b border-color border-primary/50 hover:border-solid bg-linear-to-r from-transparent via-primary/5 dark:via-primary/40 to-primary-50 hover:bg-primary-50"
    href="/products/trident"
>
    <div
        class="relative mx-auto flex max-w-(--breakpoint-sm) items-center gap-4 md:max-w-[1100px]"
    >
        <div class="flex items-center gap-1">
            <KeyRound class="w-4 text-primary" />
            <span class="text-primary text-sm">
                Introducing:<!-- -->
                <span class="font-lora font-semibold tracking-wide"
                    >Trident</span
                >
                <!-- -->→
            </span>
        </div>
    </div>

    <div
        class="absolute z-10 size-2 rotate-45 rounded-[1px] border border-primary dark:border-orange-300/25 bg-white dark:bg-black bottom-[-4.5px] left-[-4.5px]"
    >
    </div>
    <div
        class="absolute z-10 size-2 rotate-45 rounded-[1px] border border-primary dark:border-orange-300/25 bg-white dark:bg-black right-[-4.5px] bottom-[-4.5px]"
    >
    </div>
</a>
