---
import Layout from '../../layouts/Layout.astro';
import LineBackground from '../../components/line-background.astro'
---

<Layout>

    <main class="mx-3 grow md:mx-8 lg:mx-12 grid-border-color border-r border-l">

        <section class="relative overflow-x-clip bg-linear-to-t from-orange-100/30 px-4 py-12 sm:px-6 lg:pt-40 lg:pb-[5.7rem]">

            <LineBackground />
            <div class="mx-auto w-full max-w-(--breakpoint-sm) md:max-w-[1100px] relative isolate grid grid-cols-1 justify-center lg:grid-cols-2 gap-4 lg:gap-32">
                <div class="mx-auto flex flex-col gap-7 lg:m-0">
                    <hgroup class="flex flex-col items-center lg:items-start">
<h1 class="font-lora text-pretty scroll-mt-24 h0 max-w-4/5 text-orange-400  font-normal my-2 text-center lg:text-left">Trident – Secure Authentication & Policy</h1>
<p class="tracking-tight max-w-[360px] text-center text-balance lg:text-left"><span><span data-br=":R15c6fnknq6ja:" data-brr="1" style="display:inline-block;vertical-align:top;text-decoration:inherit;text-wrap:balance">Centralizes MFA and adaptive authentication.
Enforce strong, flexible access policies for all your users.</span></span></p>
                    </hgroup>

                </div>


                <div class="relative isolate hidden lg:block" style="opacity: 1; transform: none;">
                    <div class="absolute col-span-full flex-none select-none left-[-100px] lg:left-[-50px] xl:left-[-170px]" style="aspect-ratio:16/9;height:548.5714285714286px;top:-96px">
                        <div class="relative isolate size-full overflow-hidden rounded-t-md rounded-b-md border border-gray-300 shadow-lg shadow-gray-200">


                            <img src="/trident_hero.png" alt="">

                        </div>
                    </div>

            </div>



        </section>
    </main>

</Layout>
